a.social {
    --bg-img: "";
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    outline: none;
    border: none;
    padding: 0;
    transition: none;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 0;
    font-size: 0;


    -webkit-background-clip: initial;
    background-clip: initial;

    &[aria-label="tiktok"]{
        --bg-img: url(../assets/icons/ic_baseline-tiktok.svg);

        &:hover {
            --bg-img: url(../assets/icons/tiktok-hover.svg);
        }
    }

    &[aria-label="instagram"]{
        --bg-img: url(../assets/icons/mdi_instagram.svg);

        &:hover {
            --bg-img: url(../assets/icons/mdi_instagram-hover.svg);
        }
    }

    &[aria-label="discord"]{
        --bg-img: url(../assets/icons/ic_baseline-discord.svg);

        &:hover {
            --bg-img: url(../assets/icons/ic_baseline-discord-hover.svg);
        }
    }
    
    &[aria-label="X"]{
        --bg-img: url(../assets/icons/ri_twitter-x-fill.svg);

        &:hover {
            --bg-img: url(../assets/icons/ri_twitter-x-hover.svg);
        }
    }

}